/* This main css file contains the default rules and is geared toward the small/phone view */
@media screen and (max-width: 37.5em){}
* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */


body {
  font-size:16px;
  font-family:"oxygen", sans-serif;
  padding:1em
  
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {}


header h1 {
   font-family:"gabriela", serif;
   font-size:2.5em;
   padding:.1em
}
header img {
     width:100px;
     height:75px;
     float:left;
     padding:.5em;
}
header .subheading {font-family:"oxygen", sans-serif;
      font-size:2em;
      text-align:center;}
nav button {
	margin: .2rem 2%;
	background-color: transparent;
	border: none;
	font-size: 1.6rem;
	color:#555;
}
nav.container {
    display:flex;
	flex-direction:column;
    background-color: #11B9E0;
    
    
}


    
nav ul {
    list-style-type: none;
	padding: 0;
    margin: 0;
    
}

    

nav ul li a {
    text-decoration: none;
    color: #fff;
	background-color: #11B9E0;
    display:flex;
	padding: .8rem 2%;
    margin:0;
	border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li.active a {background-color: rgba(0,0,0,0.2);}
nav ul li a:hover {background-color: rgba(0,0,0,0.1);}
nav ul.hide{display: none;}
main {
    padding: 0;
}
main h2 {
    font-family:"gabriela",serif;
	font-size:40px;
    color:#ff850D;
    text-align:center;}
main h3 {
    color:#ff850D;
}

main figure { margin: 0 0 2%; width:90%; }
main figure img { width: 100%; }


.weatherSum  {
	display:inline-flex;
	flex-wrap: wrap;
	border: 4px solid #11B9E0;
	padding: 1em 1em 1em 1em;
	text-align: justify;
}
.highlow {
	padding: 1em 1em 1em 1em;
}
.forecast {
    display: none;
	
}

.windchill {
	display: flex;
	padding: 1rem;
	
}
.button {
	background-color: #ff850d;
}

.day-row, .temp-row {
	
border: 4px solid #11B9E0
}

.factorText {
	
	padding: 1em;
	}

#windSpeed {
   	display:flex;
	border:1px solid #bbeedd;
	background-color:#ffeecc;
	text-align:center;
	
}
section {
	
}

.town-article {
    display: flex;
	flex-wrap: wrap;
	align-content: center;
	
}
@media only screen and (max-width:37.5em){
article p.town-article img {
	width:100%;
	height: 50%;
	
	display: flex;
	flex-wrap: wrap;
}
} 

footer {}
footer aside {
     text-align: center;   
   background-color:#ffa247;
}
footer>p {
      background-color:#11B9E0;
} /* This structure refers to p elements that are direct children of the footer element */
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}


/* ***********Gallery******** */

@media screen and (max-width:37.5em){}
.gallery {
	display: grid;
	grid-template-columns:100%;
	grid-auto-rows:minmax(100px, auto);
	
	
	
		
}

fig-caption {
	font-size: 12px;

} 




/*Storm Center*/




fieldset {
	background-color: bisque;
	border-radius: .8em;
	margin: 1.5em 0;
	border: #ffa247 solid 1.5px;
}
legend {
	color: white;
	margin-left:3%;
	padding: .5em;
	border: #11B9E0 solid .5px;
	background-color:#ffa247;
	border-radius: .5em;
	
}

label {
	display: block;
	margin: 1em;
}

label span {
	display: block;
	font-size: .8em;
	padding-top: .9em;
	padding-bottom: .2em;
	
}


input.submitbtn {
	-webkit-appearance:none;
	color: white;
	background: forestgreen;
	border: solid 1px black;
	border-radius: 5px;
	width: 30%;
	max-width: 300px;
	margin: .5em 0;
	padding: .6em;
	box-shadow: 4px 4px 10px gray;
	
}

textarea {
	width: 80%;
	max-width: 500px;
	
}

label input {
	background-color: mintcream;
	padding: .3em .3em .3em .2em;
	border: solid 1px #11B9E0;
	border-radius: 5.5px;
	font-size: .9em;
	width: 90%;
	max-width: 500px;
}
.rating {
	font-size: 12px;
}


#rating {
	margin: 0 0 0 0;
}
	




/**Thank You**/
#thanks {
	font-size: 45px;
}
p.thanks {
	font-size: 20px;
	padding: 0 2em 2em 0;
	margin:0 0 0 0
}

.team {
   font-family:"gabriela", serif;
   font-size:1.5em;
   color: #11B9E0;
   
}


/**Town Information**/

.townInfo {
	display:inline-grid;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
	border: solid 3px #11B9E0 ;
	padding: 2em 2em 2em 2em;
	
	
	
		
}
#place {
	align-content: space-around;
}




