@media only screen and (min-width: 64rem) {
  /*home screen*/
	
.logo {
	max-width: 50%;
	flex-wrap: wrap;
}	
	
	nav {}
        nav ul li a{
		padding: .4rem 1rem;
		margin: auto;
		display: flex;
		align-content: center;
		}/*end nav ul li a*/
     
}/*end @media 64rem*/
@media only screen and (min-width: 64rem){
header h1 {
	display: inline-flex;
	max-width: 35%;
	align-self: center;
}/*end header*/
}/*end @media*/

header img{
	display: grid;
	grid-auto-rows:minmax(300px, auto);
}



	.banner {
		max-width:100%;
		display:inline-flex;
		align-content:center;
		flex:90%;
		margin:.5em;
		
		}/*end banner*/


	main figure {
		display:grid;
		grid-template-columns: auto;
		max-width:75%;
		height: auto;
	
	}/*end main figure*/

@media only screen and (min-width: 64rem) {
	.tours, .events .bikes {
		display:grid;
		grid-template-columns: auto;
	}
}


/***************Sales*****************/
@media only screen and (max-width: 80rem){

.products {
	display: grid:
	
}

.products h3 {
	text-align: left;
	border: none;
	}	
}