@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
	nav {}
        
    nav ul li a{padding: .6em 1em;}
     /* hamburger button does not need to be shown */
   
     
   
   
	  


   

	
	
	article p.town-article img { width: 29.333%; }
     margin: 0 0 0 2%; width:29.3%;
  
}