 /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
       
@media only screen and (min-width: 37.5em) {
	
nav {
	display:-webkit-flex;
	display:block;
	padding: 0;
	font-size:.8em;
	
	}
	/* hamburger button does not need to be shown */
	nav button {display:none;}  
	
	nav ul.hide {display:block;}
	
	nav ul {
		margin-left: 2%;
		padding:0;
		border: none;
	   }
	
	nav ul li {
			float: left;			
		}
		
    nav ul li a {
		border:none;
		border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
	   }  
}
 
  section.forecast { 
      display:inline-block; 
    }  /* show the 10-day forecast with the medium view and up */
  
  article p.town-article img { 
      width: 50%; 
      height:50%;
      float:right;}  /* responsive images */

}