@media screen and (max-width: 480px){
   /* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
font-size: 16px;
  font-family:"oxygen", sans-serif;
    padding:1em;
}
  
  


header, nav, main, footer {}
        
        /* the comma means apply the following CSS declarations to all of the listed elements */
        /* Declare the maximum width and other main element rules to limit the stretch on wide views */


header {}
  header h1 {
      font-family:"gabriela", serif;
      font-size:2.5em;
      padding:.1em
}
      
      

  header img {
      width:100px;
      height:75px;
      float:left;
      padding:.5em;
}
  header.subheading {
      font-family:"oxygen", sans-serif;
      font-size:2em;
      text-align:center;
 }

  nav {
    display:none;
    padding:.5em;
    background-color:#ffce9d;
    }

    nav button {display:none}
    nav ul {}
    nav ul li {}
    nav ul li a {}
    nav ul li.active a {}
    nav ul li a:hover {}

main {
    
}
    main h2 {
      font-family:"ultra",serif;
      color:#007523;
      text-align:center;
}
    main figure { margin: 0 0 .2rem 2%; width:96%; }
    main figure img { width: 100%; height:50%}
            
    main h3 {
      color:#ff850D;
}

section {
}
.highlow {
    display:inline-block;
      
}

 .current {
  display:flex; 
    
}
.conditions {
    display:inline-block;
    
} 
	
section.forecast {
    display: none;
    }
		
 
	
  



article p.town-article img {
     /* This structure refers to img elements that are the posterity of paragraph elements within article elements */
  width: 100%; /* fill the page in the small/phone view */
  margin: 0 0 .2rem 2%; width:29.3%;
}

footer {
    text-align:center;
}
footer aside {
   text-align: center;   
   background-color:#ffa247; 
}
footer>p {
    text-align:center;
    background-color:#11B9E0;
} /* This structure refers to p elements that are direct children of the footer element */
}
    /* Other Class Selectors */