/* CIT 230 - Assignment Portal CSS */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 1; box-sizing: border-box; } 

body { 
    font-size: 18px; 
    line-height: 28px;
    font-family: sans;
    color: cadetblue;
}

h1 {
    font-size: 2rem;
    color: #325;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: 0rem;
    max-width: inherit;
}

header, footer, footer a {
    text-align: center;
    background-color: #2395;
    color: whitesmoke;
}

header img {
    width: 140px;
    height: auto;
    float: right;
}

footer {
    font-size: 12px;
}