table {
	
	font-family: Ubuntu, sans-serif;
	text-align: center;
	border: 1px lightgray solid;
	border-collapse: collapse;
	box-shadow: 10px 10px 10px #628ca6;
	}

}
tbody tr:nth-child(odd) {
	background-color: #e7ffed;
	border-color: 1px lightgray solid;
}
tbody tr:nth-child(even) {
	background-color: #e7f0ed
}
caption {
	background-color: #7fb9c2;
	font-size: 25px;
	padding:5px;
	border: 1px lightgray solid;
	box-shadow: 10px 10px 10px #628ca6;	

	
	
}

td {
	border-collapse: collapse;
	padding: 8px;
	border: 1px lightgray solid;
	
	
}
	
th {
	color:white;
	background-color: #628ca6;
	padding: 8px;
	border: 1px lightgray solid;
	
}	
tfoot  { 
	background-color: #7fb9c2;
	font-size: 12px;
}
#special {
	background-color: #628ca6;
	color: white;
}
#blackfriday {
	font-style: italic;
}